{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 10 versions", "ie >= 11"]
        },
        "modules": false
      }
    ],
    "react",
    "jest"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 5 versions", "ie >= 12"]
            },
            "modules": "commonjs",
            "debug": false
          }
        ],
        "react",
        "jest"
      ],
      "plugins": ["transform-decorators-legacy", "transform-object-rest-spread", "transform-class-properties"]
    }
  },
  "plugins": ["transform-decorators-legacy", "transform-object-rest-spread", "transform-class-properties"]
}
