{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 10 versions", "ie >= 11"]
        },
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": ["transform-object-rest-spread", "transform-class-properties"]
}
